@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "Ananias";
  src: url("./assets/Ananias Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brittany";
  src: url("./assets/BrittanySignature.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
    font-family: 'Montserrat', serif;
}

:root {
  --nav-color: rgb(255, 255, 255);
}

#root {
  height: 100%; width: 100%;
  display: flex;
}

* {
  margin: 0;
  padding: 0;
}

.page {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
  z-index: 20;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: top;
  z-index: 20;
}