.principles-page {
  width: 100%;
  height: fit-content;
  background-color: whitesmoke;
}

.topic {
  position: sticky;
  top: 15%;
  text-align: center;
  justify-content: center;
  align-self: center;
  font-size: clamp(4.5rem, 8vw, 15rem);
  margin-bottom: 60vh;
}

.content {
  justify-self: center;
  text-align: center;
  width: 80vw;
  font-size: clamp(2rem, 4vw, 10rem);
  margin-bottom: 40vh;
  animation: fadeOut linear forwards;
  animation-timeline: view();
  animation-range: 60vh 75vh;
}

.titleDiv {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.stickypage {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.stickyContent {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
}

.num {
  position: fixed;
  top: -15%;
  font-size: clamp(20rem, 50vw, 50rem);
  color: rgb(232, 197, 0);
}

.principles {
  position: fixed;
  font-family: 'Ananias';
  top: 15vh;
  left: 45vw;
  opacity: 0.3;
  font-size: clamp(8rem, 25vw, 20rem);
  transform: scaleY(1.3);
  line-height: 90%;
}

.design {
  position: fixed;
  top: 67%;
  font-size: clamp(5rem, 10vw, 15rem);
  width: 30vw;
  line-height: 80%;
}

.contrastEx {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  font-size: clamp(1rem, 2vw, 3rem);
  overflow-x: clip;
}

.conExDiv {
  position: absolute;
  width: clamp(380px, 45vw, 45vw);
  top: 15vh;
  left: 5vw;
  
}

.num, .principles, .design {
  user-select: none;
  animation: fadeOut linear forwards, slideUp linear forwards;
  animation-timeline: scroll(), scroll();
  animation-range: 10vh 80vh, 10vh 80vh;
}

.conExTitle {
  margin-bottom: 3rem;
  animation: conTitle linear forwards, bikeTitle linear forwards;
  animation-timeline: scroll(), scroll();
  animation-range: 810vh 950vh, 3380vh 3530vh;
}

.bikeText {
  color: black;
  animation: bikeText linear forwards;
  animation-timeline: scroll();
  animation-range: 810vh 950vh;
}

.conBike {
  position: absolute;
  width: max(400px, 40vw);
  top: 20%;
  right: 10%;
  animation: moveBike linear forwards;
  animation-timeline: scroll();
  animation-range: 810vh 950vh;
}

.conButton {
  width: auto;
  padding: 3%;
  border: none;
  border-radius: 999px;
  font-size: 1.3rem;
  color: white;
  background-color: rgb(43, 162, 225);
  margin-top: 30%;
  animation: bikeButton linear forwards;
  animation-timeline: scroll();
  animation-range: 3400vh 3530vh;
}

.repeatEx {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-x: clip; 
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  overflow-x: clip;
  padding: 2%;
  gap: 5%;
}

.repeat {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.repeat h4 {
  font-size: clamp(1rem, 2vw, 3rem);
}
.repeat p {
  font-size: clamp(0.8rem, 1.2vw, 1.5rem);
}
.repeat img {
  width: max(200px, 25vw);
}

.shape {
  background-color: black;
  color: white;
  border-radius: 20rem;
}

.crap {
  opacity: 0;
  font-size: clamp(5rem, 15vw, 15rem);
}

.firstImg {
  transform: translate(0, 130%);
  animation: firstImgR linear forwards, origin linear forwards;
  animation-timeline: scroll(), scroll();
  animation-range: 1700vh 1830vh, 2560vh 2700vh;
}
.firstMes {
  transform: translate(100%, 150%);
  animation: firstMesR linear forwards, origin linear forwards;
  animation-timeline: scroll(), scroll();
  animation-range: 1700vh 1830vh, 2560vh 2700vh;
}
#secondBlock {
  transform: translate(-10%, -15%);
  animation: origin linear forwards;
  animation-timeline: scroll();
  animation-range: 2560vh 2700vh;
}
.thirdImg {
  transform: translate(0, 50%);
}
.thirdMes {
  transform: translate(0, -250%);
}

.thirdImg, .thirdMes {
  animation: origin linear forwards;
  animation-timeline: scroll();
  animation-range: 1700vh 1830vh;
}

.c {
  --oriX: -265%;
  animation: fadeIn linear forwards, moveC linear forwards, slideOut linear forwards;
  animation-timeline: scroll(), scroll(), scroll();
  animation-range: 110vh 170vh, 220vh 280vh, 690vh 730vh;
}
.r {
  --oriX: -125%;
  animation: fadeIn linear forwards, moveR linear forwards, slideOut linear forwards;
  animation-timeline: scroll(), scroll(), scroll();
  animation-range: 1100vh 1160vh, 1200vh 1300vh, 1560vh 1600vh;
}
.a {
  --oriX: 20%;
  animation: fadeIn linear forwards, moveA linear forwards, slideOut linear forwards;
  animation-timeline: scroll(), scroll(), scroll();
  animation-range: 1970vh 2030vh, 2080vh 2160vh, 2435vh 2465vh;
}
.p {
  --oriX: 160%;
  animation: fadeIn linear forwards, moveP linear forwards, slideOut linear forwards;
  animation-timeline: scroll(), scroll(), scroll();
  animation-range: 2850vh 2890vh, 2950vh 3030vh, 3270vh 3310vh;
}

#first {
  animation: fadeIn linear forwards;
  animation-timeline: scroll();
  animation-range: 110vh 170vh;
}

#second {
  animation: fadeIn linear forwards;
  animation-timeline: scroll();
  animation-range: 1100vh 1160vh;
}

#third {
  animation: fadeIn linear forwards;
  animation-timeline: scroll();
  animation-range: 1970vh 2030vh;
}

#fourth {
  animation: fadeIn linear forwards;
  animation-timeline: scroll();
  animation-range: 2850vh 2890vh;
}

.c, .r, .a, .p {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(var(--oriX), -50%);
  font-size: clamp(5rem, 15vw, 15rem);
  color: rgb(228, 196, 12);
}

@keyframes fadeIn {
  to {opacity: 1;}
}

@keyframes fadeOut {
  to {opacity: 0;}
}

@keyframes slideUp {
  to {transform: translateY(-100%);}
}

@keyframes slideOut {
  to {top: -15%}
}

@keyframes moveC {
  to {top: 15%; transform: translateX(-315%); font-size: clamp(4.5rem, 8vw, 15rem)}
}

@keyframes moveR {
  to {top: 15%; transform: translateX(-370%); font-size: clamp(4.5rem, 8vw, 15rem)}
}

@keyframes moveA {
  to {top: 15%; transform: translateX(-365%); font-size: clamp(4.5rem, 8vw, 15rem)}
}

@keyframes moveP {
  to {top: 15%; transform: translateX(-340%); font-size: clamp(4.5rem, 8vw, 15rem)}
}

@keyframes conTitle {
  to {
    font-weight: bold;
    font-size: clamp(2rem, 4vw, 10rem);
    margin-bottom: 0.5rem;
  }
}

@keyframes bikeText {
  to {color: gold}
}

@keyframes moveBike {
  to {
    top: 5%;
    right: -50%;
    width: max(900px, 100vw, 100vw);
  }
}

@keyframes bikeTitle {
  to {
    line-height: 1.2;
    margin-bottom: -3%;
  }
}

@keyframes bikeButton {
  to {margin-top: 8%;}
}

@keyframes firstImgR {
  to {transform: translate(0, 50%);}
}
@keyframes firstMesR {
  to {transform: translate(0, 150%);}
}
@keyframes origin {
  to {transform: translate(0, 0);}
}

@media (max-width: 450px) {
  .principles {
    top: 60%;
    left: 0;
  }
  .num {
    top: 0;
  }
  .design {
    top: 37%;
    left: 7%;
  }

  .conBike {top: 50%}
  
  .repeat {
    flex-direction: row;
    width: 380px;
  }

  .repeatEx {
    padding-top: 20%;
    grid-auto-flow: row;
    row-gap: 6rem;
    align-content: start;
  }

  .firstImg {
    transform: translate(100%, 0);
  }
  .firstMes {
    transform: translate(-100%, 0);
  }
  #secondBlock {
    transform: translate(0, -40%);
  }
  .thirdImg {
    transform: translate(50%, -70%);
  }
  .thirdMes {
    transform: translate(-50%, 40%);
  }
  
  .firstImg, .firstMes {
    animation-range: 1700vh 1830vh;
  }

  @keyframes moveBike {
    to {
      top: 30%;
      right: -130%;
      width: max(900px, 100vw, 100vw);
    }
  }
}