.intro {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw; height: 100vh;
  background: #ededed;
  margin: 0;
  overflow: hidden;
  z-index: 30;
}

.intro.fade-out {
  opacity: 0;
}

h1.intro-text {
  user-select: none;
  font-family: 'Ananias';
  font-size: clamp(5rem, 8.5vw, 8rem);
  font-weight: bold;
  position: relative;
  cursor: pointer;
  color: black;
  transition: transform 0.6s ease, color 1.5s ease;
}

h1.intro-text::after {
  content: attr(data-text);
  position: absolute;
  inset: 0;
  /* background: linear-gradient(270deg, #ff0080,#ff8c00,#40b5e0,#8a2be2,#00db8b,#f2f229,#ff0080,#ff8c00); */
  background-size: 1000% 1000%;
  background-clip: text;
  color: transparent;
  animation: rainbow 6s linear infinite;
  opacity: 0;
  transition: opacity 1.5s ease;
}

h1.intro-text::before {
  content: "";
  position: absolute;
  top: -150px; left: -150px; right: -150px; bottom: -150px;
  pointer-events: none;
  background: 
    radial-gradient(circle at 20% 30%, rgb(255,0,128), transparent 50%),
    radial-gradient(circle at 80% 40%, rgb(255,140,0), transparent 50%),
    radial-gradient(circle at 30% 60%, rgb(255,255,0), transparent 50%),
    radial-gradient(circle at 60% 20%, rgb(166, 255, 0), transparent 50%),
    radial-gradient(circle at 60% 20%, rgb(72, 255, 0), transparent 50%),
    radial-gradient(circle at 60% 20%, rgb(0, 255, 157), transparent 50%),
    radial-gradient(circle at 40% 80%, rgb(39,255,233), transparent 50%),
    radial-gradient(circle at 70% 70%, rgb(150, 38, 255), transparent 50%);
  background-size: 250% 250%;
  filter: blur(140px);
  opacity: 0;
  z-index: -1;
  animation: glowmove 12s ease-in-out infinite alternate,
              huecycle 15s linear infinite;
  transition: opacity 0.8s ease;
}

h1.intro-text:hover {
  color:white;
  transform: scale(1.2);
}

h1.intro-text:hover::after {
  opacity: 0;
}

h1.intro-text:hover::before {
  opacity: 1;
}

h2.flicker {
  margin-top: 1rem;
  color: hsl(0, 0%, 45%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: clamp(24px, 2vw, 30px);
  user-select: none;
  animation: fade-in-out 1.2s ease-in-out infinite alternate;
}

@keyframes fade-in-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes rainbow {
  0% { background-position: 10% 50%; }
  100% { background-position: 100% 50%; }
}

@keyframes glowmove {
  0% { background-position: 0% 0%; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0% 100%; }
}

@keyframes huecycle {
  0% { filter: blur(140px) hue-rotate(0deg); }
  100% { filter: blur(140px) hue-rotate(360deg); }
}

h1.intro:active ~ .intro {
  opacity: 0;
}