.testpage-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(270deg, #ff9a9e, #fad0c4, #a18cd1, #fbc2eb);
    background-size: 400% 400%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 18vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
}


.test-box {
    width: 600px;
    max-width: 90%;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    padding: 2rem 3rem;
    text-align: left;
    max-height: 80vh;
    overflow-y: auto;
}

.testpage-container h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: #5148c5;
}

.testpage-container h3 {
    margin-bottom: 0.5rem;
    color: #5148c5;
}


.question {
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #5148c5;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-bottom: 1rem;
}

.option-btn {
    padding: 0.8rem 1rem;
    border: 2px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    background: #f8f8f8;
    color: #5148c5;
    transition: all 0.3s ease;
    text-align: left;
}

.option-btn:hover {
    background: #ececec;
}

.option-btn.selected {
    background: #a18cd1;
    color: white;
    border-color: #a18cd1;
    font-weight: bold;
}

.option-btn.correct {
    background: #4caf50;
    color: white;
    border-color: #4caf50;
}

.option-btn.wrong {
    background: #f44336;
    color: white;
    border-color: #f44336;
}

.option-btn.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.next-btn {
    display: block;
    margin: 1rem auto 0;
    padding: 0.8rem 1.5rem;
    background: #6c63ff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

.next-btn:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.next-btn:hover:not(:disabled) {
    background: #5148c5;
}

.result-box {
    text-align: center;
    padding: 7rem;
    border-radius: 12px;
    background: #ffffff;
    max-height: 200px;
    font-size: 1rem;
    color: #8532ae;
}

.color-img {
    width: 200px;
    height: 200px;
    margin-right: 8px;
    margin-top: -65px; 
}
